@font-face {
    font-family: 'droid';
    src: url('../fonts/DroidKufi-Regular.woff');
}
                @font-face {
    font-family: 'droid-b';
    src: url('../fonts/DroidKufi-Bold.woff');
}
        *{
            font-family:'droid';
            }
        body
        {
            background-color: #fff;
    direction: ltr;
}
                 .page_title
         {
    width: 100%;
    text-align: center;
    color: #cf494d;
    position: relative;
    top: -20px;
    font-size: 16px;
    background-color: #f1f1f1;
    height: 24px;
    padding-top: 1px;
         }